:root {
  --cinza: #ebebec;
  --preto: #272727;
  --rosa: #F86197;
  --verde: #36b59f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
